@import "../../assets/scss/variables";

.Lobby {
    main {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        h1 {
            padding: 20px 0;
            font-size: 2em;
        }
        .lobbyTeamList {
            padding: 40px 0;
            display: flex;
            flex-wrap: wrap;

            .lobbyTeamListNoTeams {
                margin: 0 auto;
                display: block;
                
                font-size: 1.2em;
                font-style: italic;
                color: $text-color-dark;
            }
            .lobbyTeamListItem {
                width: calc(50% - 40px);
                margin: 20px;
                border: 1px solid $border-grey;
                &.accepted {
                    background-color: lighten($green, 40%);
                    border: 1px solid darken($border-grey, 10%);
                    button[class^='itemButton'] {
                        border: 1px solid darken($border-grey, 10%);
                    }
                    .itemButton__accept {
                        display: none;
                    }
                }
            }
        }
        .lobbyStartQuizContainer {
            padding: 20px 0;
        }

    }
}

.disabled {
    display: none;
}