@import "../../assets/scss/variables";

.Waitscreen {
    nav {
        .navCloseGame {
            position: absolute;
            left: 0;
        }
        .navRoomKey {
            margin: auto;
        }
    }
}