@import "../../scss/variables";

.ControlPanel {
  width: 100%;
  height: 100%;

  display: flex;
}

.Scoreboard {
  border-right: 1px solid $border-grey;
}

.QuestionQueue {
  border-left: 1px solid $border-grey;
  overflow: auto;
}

.Scoreboard,
.QuestionQueue {
  width: 275px;
  height: 100%;
  overflow: auto;
  header {
    padding: 10px 20px;
    border-bottom: 1px solid $border-grey;
    h1 {
      font-size: 1.2em;
      font-weight: 700;
    }
  }
}

.QuestionInfo {
  overflow: auto;
  padding: 40px;
  flex: 1;

  .infoActions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    h2 {
      font-size: 1.2em;
      font-weight: 700;
    }

    button {
      padding: 15px 30px;
      font-size: 1.2em;
      font-weight: 700;
      color: $text-color-dark;
      border: 1px solid $border-grey;
      cursor: pointer;
      &:hover {
          background-color: $border-grey;
      }
  }
  }
  .infoQuestion {
    padding: 20px;
    h2 {
      font-size: 1.4em;
      font-weight: 700;
      margin: 20px 0;
      span {
        font-weight: 400;
      }
    }
  }
  .infoAnswers {
    padding: 20px;
    h2 {
      font-size: 1.4em;
      font-weight: 700;
    }
    .infoAnswersList {
      padding: 20px 0;
      .AnswerItem {
        max-width: 300px;
        margin: 0 20px 20px 0;
        border: 1px solid $border-grey;
      }
    }
  }
}
