.CategorySelection {
    main {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
}
.categorySelect {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .key {
        font-weight: bold;
    }
}